{%- set bridge_name = "br1" %}
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
 name: vm-network-bridges
spec:
 desiredState:
   interfaces:
     - type: linux-bridge
       name: br1
       state: up
       ipv4:
          enabled: false 
       description: Linux bridge with {{ interfaces[0].base_iface }} as a port
       bridge:
         options:
           stp:
             enabled: false
         port:
           - name: "{{ interfaces[0].base_iface }}"

{# NAD #}

{%- for interface in interfaces %}
{%- set bridge_network = "bridge-network-" ~ interface.vlan_id %}
---
apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: {{ bridge_network }}
  namespace: {{ virtual_machines_namespaces }}
  annotations:
    k8s.v1.cni.cncf.io/resourceName: bridge.network.kubevirt.io/{{ bridge_name }}
spec:
  config: >- 
    {"name":"{{ bridge_name }}","type":"cnv-bridge","cniVersion":"0.3.1","bridge":"{{ bridge_name }}","macspoofchk": true,"vlan": {{ interface.vlan_id }}}
{% endfor %}